<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.mypageInfo">




	<select id="passwordCheck" parameterType="String" resultType="String" >
		select member_pass
		from member 
		where member_id =#{memberid}
	</select>
	

<!-- 	
	<select id="memberInfo" parameterType="String" resultMap="" >
		select member_pass
		from member 
		where member_id =#{memberid}
	</select>
	 -->
	

	
</mapper>




