@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,300,900);
.roboto {font-family: 'Roboto', sans-serif;}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.noto{font-family: 'Noto Sans KR', sans-serif;}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 11px;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}
body {
	line-height: 1;}
ol, ul {
	list-style: none;}
blockquote, q {
	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
.hidden{display: none;}

a:link,
a:visited{color:inherit;}

body.noScroll{overflow: hidden}
div.overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;background-color:#000;opacity:0.5;filter:alpha(opacity=50)}

/*********************************************
* Main Event Popup
*********************************************/
.pop_notice_set{position :absolute;top:125px;left:-10px;z-index:5000}
.pop_notice_set .pop_notice{ float: left; margin: 10px 0 0 10px;background :#fff;position:relative}
.pop_notice_set .pop_notice .pop_notice_content{ width: auto; min-height: 200px; border: 1px solid #3d3d3d;background :#fff;text-align:left;padding:5px 5px 12px }
.pop_notice_set .pop_notice .pop_notice_content p{line-height:1.4}
.pop_notice_set .pop_notice .pop_notice_content img{min-width: auto; /* max-height:500px; */}
.pop_notice_set .pop_notice .pop_notice_footer{ position: absolute; left: 0; bottom: 0; right: 0; border-width: 0 1px 1px;border-style :solid;border-color:#3d3d3d;background:#ededed;height:30px;line-height:22px;padding:5px 10px 0 ;text-align :left}
.pop_notice_set .pop_notice .pop_notice_footer input{ vertical-align: middle}
.pop_notice_set .pop_notice .pop_notice_footer label{ color: #ADACAC; vertical-align: middle; display: inline-block}
.pop_notice_set .pop_notice .pop_notice_footer a.btn_close,.pop_notice_set .pop_notice .pop_notice_footer a.notToday{display :inline-block;padding:0 15px 0 14px;background :url(../../images/homepage/common/ico_close.gif) 0 50% no-repeat;font-family:dotum;font-size:11px}
.pop_notice_set .pop_notice .pop_notice_content.bg01{/* width: 383px; height: 319px; background: url(../../images/homepage/common/bg_ind_pop.jpg) no-repeat!important*/}
.pop_notice_set .pop_notice .pop_notice_content.bg02{ width: 383px; height: 319px; background: url(../../images/homepage/common/KOR/bg_ind_pop02.jpg) no-repeat!important}
.pop_notice_set .pop_notice .pop_notice_content.bg03{ width: 383px; height: 319px; background: url(../../images/homepage/common/KOR/bg_ind_pop03.jpg) no-repeat!important}
.pop_notice_set .pop_notice .pop_notice_content.bg01 p,.pop_notice_set .pop_notice .pop_notice_content.bg02 p,.pop_notice_set .pop_notice .pop_notice_content.bg03 p{}


/* error */
#conArea .error .logo {width: 137px; height: 78px; margin: 20px auto 50px; text-indent: -9999px; background: url(/Hotel28NewCMS_common/images/homepage/common/error.png) center center no-repeat; }
#conArea .error h3 {font-size: 33px; color: #fff; font-weight: 600; margin-bottom: 40px;}
#conArea .error p {font-size: 16px; color: #666;}
#conArea .error .bt-wrap {margin-top: 50px;}
#conArea .error .error-btn {background: #acacac; color: #fff; width: 260px; height: 60px; line-height: 59px; font-size: 17px;}