<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <div th:fragment="footer">
    
	<div id="footer_wrap">
		<section class="footer_top" style="margin-bottom:25px;">
			<ul>
				<li class="footer-title">TEL</li>
				<li>+82-2 777 7777</li>
				<li class="footer-title">CHECK-IN/ CHECK-OUT</li>
				<li>15:00 / 12:00</li>
			</ul>
		</section>
		<section class="footer_bot">
			<nav class="info">
				<ul>

					<li><a href="#privacyPolicy" class="open_modal" style="color:white;">개인정보취급방침</a></li>
					<li><a href="#userInfo" class="open_modal" style="color:white;">이용약관</a></li>
					<li><a href="#Email" class="open_modal" style="color:white;">이메일무단수집거부</a></li>
					<li><a href="#policyVideo" class="open_modal" style="color:white;">영상정보처리기기설치 및 운영방침</a></li>

				</ul>
			</nav>
			<address>
				㈜NOIR&nbsp;&nbsp; 대표 곽우신 <br/>
				연락처 주소_서울시 대치동 SIST, NOIR &nbsp;&nbsp;/&nbsp;Tel +82 2 777 7777&nbsp;/&nbsp;메일 sist@noir.co.kr&nbsp;/&nbsp;팩스번호 +82 2 777 7777<br/>
				사업자등록번호 200-00-00000&nbsp;/&nbsp;통신판매번호 2026-서울대치-1038
			</address>
			<p class="copyright">Copyright 2026 NOIR. All right reserved</p>
		</section>
	</div>
	</div>