<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NOIR호텔 관리자 페이지</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/font-awesome.min.css">
	<!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/nalika-icon.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/owl.carousel.css">
    <link rel="stylesheet" href="/admin_common/css/owl.theme.css">
    <link rel="stylesheet" href="/admin_common/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/admin_common/css/metisMenu/metisMenu-vertical.css">

    <link rel="stylesheet" href="/admin_common/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/admin_common/css/responsive.css">
    <!-- jquery
		============================================ -->
    <script src="/admin_common/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/admin_common/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/admin_common/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/admin_common/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/admin_common/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/admin_common/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/admin_common/js/jquery.sticky.js"></script>
    
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/admin_common/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/admin_common/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/admin_common/js/metisMenu/metisMenu.min.js"></script>
    <script src="/admin_common/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/admin_common/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/admin_common/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/admin_common/js/calendar/moment.min.js"></script>
    <script src="/admin_common/js/calendar/fullcalendar.min.js"></script>
    <script src="/admin_common/js/calendar/fullcalendar-active.js"></script>
	<!-- float JS
		============================================ -->
    <script src="/admin_common/js/flot/jquery.flot.js"></script>
    <script src="/admin_common/js/flot/jquery.flot.resize.js"></script>
    <script src="/admin_common/js/flot/curvedLines.js"></script>
    <script src="/admin_common/js/flot/flot-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/admin_common/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/admin_common/js/main.js"></script>
    
<script>

$(function(){
	

$('#dinningImgFile1').change(function(e) {
    var file = e.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // 선택한 이미지로 src 변경 (미리보기)
            $('#dinningImgPreview1').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});
$('#dinningImgFile2').change(function(e) {
    var file = e.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // 선택한 이미지로 src 변경 (미리보기)
            $('#dinningImgPreview2').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});

$('#dinningImgFile3').change(function(e) {
    var file = e.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // 선택한 이미지로 src 변경 (미리보기)
            $('#dinningImgPreview3').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});


$('#dinningImgFile4').change(function(e) {
    var file = e.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // 선택한 이미지로 src 변경 (미리보기)
            $('#dinningImgPreview4').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});

$('#dinningImgFile5').change(function(e) {
    var file = e.target.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            // 선택한 이미지로 src 변경 (미리보기)
            $('#dinningImgPreview5').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});


$("#cancelBtn").click(function(){
	location.href="/admin/dinningMgr";
})


$("#modifyBtn").click(function(){
	
	var ma = $("#morningAdult").val().trim();
	var mk = $("#morningKid").val().trim();
	var la = $("#lunchAdult").val().trim();
	var lk = $("#lunchKid").val().trim();
	var da = $("#dinnerAdult").val().trim();
	var dk = $("#dinnerKid").val().trim();
	
	var flag1 = isNumberOnly(ma);
	var flag2 = isNumberOnly(mk);
	var flag3 = isNumberOnly(la);
	var flag4 = isNumberOnly(lk);
	var flag5 = isNumberOnly(da);
	var flag6 = isNumberOnly(dk);
	if(!(flag1 && flag2 && flag3 &&flag4 && flag5 && flag6)){
		alert("999999이하의 숫자만 입력 가능합니다.")
		return;
	}
	
	
	$("#frm").submit();
})

function isNumberOnly(value) {
    for (let i = 0; i < value.length; i++) {
        const code = value.charCodeAt(i);
        if (code < 48 || code > 57) {
            return false;
        }
    }
    return true;
}

	


});// ready
	
</script>
    
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div th:replace="~{manager/fragments/sidebar :: sidebar}"></div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="header-advance-area">
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list" tyle="margin-left:40px; width:95%; border-radius: 20px;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp" style="color:#ffffff; font-size: 20px">
											다이닝 정보 수정
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contatiner" style="height:1200px; color:#ffffff">
        <form id="frm" th:action="@{/admin/dinningModifyProcess}" enctype="multipart/form-data" method="post">
        <div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:flex" >
				<div style="height:200px; width:18%; margin-top:30px; margin-left:20px">
					<img th:src="@{|/common/images/homepage/${dinning.dinningImg1}|}" style="cursor:pointer; height: 100%; width: 100%; object-fit: cover;"
                        onclick="$('#dinningImgFile1').click();" id="dinningImgPreview1">
                        <input type="file" id="dinningImgFile1" name="dinningImgFile1" style="display: none;" accept="image/*">
				</div>
				<div style="height:200px; width:18%; margin-top:30px; margin-left:30px">
					<img th:src="@{|/common/images/homepage/${dinning.dinningImg2}|}" style="cursor:pointer; height: 100%; width: 100%; object-fit: cover;"
                        onclick="$('#dinningImgFile2').click();" id="dinningImgPreview2">
                        <input type="file" id="dinningImgFile2" name="dinningImgFile2" style="display: none;" accept="image/*">
				</div>
				<div style="height:200px; width:18%; margin-top:30px; margin-left:30px">
					<img th:src="@{|/common/images/homepage/${dinning.dinningImg3}|}" style="cursor:pointer; height: 100%; width: 100%; object-fit: cover;"
                        onclick="$('#dinningImgFile3').click();" id="dinningImgPreview3">
                        <input type="file" id="dinningImgFile3" name="dinningImgFile3" style="display: none;" accept="image/*">
				</div>
				<div style="height:200px; width:18%; margin-top:30px; margin-left:30px">
					<img th:src="@{|/common/images/homepage/${dinning.dinningImg4}|}" style="cursor:pointer; height: 100%; width: 100%; object-fit: cover;"
                        onclick="$('#dinningImgFile4').click();" id="dinningImgPreview4">
                        <input type="file" id="dinningImgFile4" name="dinningImgFile4" style="display: none;" accept="image/*">
				</div>
				<div style="height:200px; width:18%; margin-top:30px; margin-left:30px">
					<img th:src="@{|/common/images/homepage/${dinning.dinningImg5}|}" style="cursor:pointer; height: 100%; width: 100%; object-fit: cover;"
                        onclick="$('#dinningImgFile5').click();" id="dinningImgPreview5">
                        <input type="file" id="dinningImgFile5" name="dinningImgFile5" style="display: none;" accept="image/*">
				</div>
        	</div>
        	
                   <div class="breadcome-list" style="margin-left:20px; width:1655px">
                   
                       	
							
							  <!-- 우측 버튼 영역 -->
							  <div style="
								    display: flex; 
								    flex-direction: column; 
								    background-color: #ffffff; 
								    padding: 25px 30px; 
								    border-radius: 15px; 
								    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
								    max-width: 1100px; 
								    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
								    color: #222222;
								    gap: 20px; 
								    margin: 50px auto;
								 	margin-top:300px;
								">

    <div style="display: flex; gap: 20px; align-items: stretch; width: 100%;">
    
    <div style="flex: 4; display: flex; flex-direction: column; gap: 15px;">
        
        

        <div style="background: #f0f4ff; border-radius: 12px; padding: 15px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.08);">
            <h4 style="margin:0 0 10px; color:#2a3a6b; font-weight:600; font-size:13px;">영업시간 (조식)</h4>
            <div style="display: flex; align-items: center; gap: 8px;">
                <select name="morningStr" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="05:00" th:selected="${dinning.dinningMorningStr == '05:00'}">05:00</option>
                <option value="05:30" th:selected="${dinning.dinningMorningStr == '05:30'}">05:30</option>
                <option value="06:00" th:selected="${dinning.dinningMorningStr == '06:00'}">06:00</option>
                <option value="06:30" th:selected="${dinning.dinningMorningStr == '06:30'}">06:30</option>
                <option value="07:00" th:selected="${dinning.dinningMorningStr == '07:00'}">07:00</option>
                <option value="07:30" th:selected="${dinning.dinningMorningStr == '07:30'}">07:30</option>
                <option value="08:00" th:selected="${dinning.dinningMorningStr == '08:00'}">08:00</option>
                </select>
                <span style="color: #2a3a6b; opacity: 0.5;">/</span>
                <select name="morningEnd" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="09:00" th:selected="${dinning.dinningMorningEnd == '09:00'}">09:00</option>
                <option value="09:30" th:selected="${dinning.dinningMorningEnd == '09:30'}">09:30</option>
                <option value="10:00" th:selected="${dinning.dinningMorningEnd == '10:00'}">10:00</option>
                <option value="10:30" th:selected="${dinning.dinningMorningEnd == '10:30'}">10:30</option>
                <option value="11:00" th:selected="${dinning.dinningMorningEnd == '11:00'}">11:00</option>
                <option value="11:30" th:selected="${dinning.dinningMorningEnd == '11:30'}">11:30</option>                
                </select>
            </div>
        </div>

        <div style="background: #f0f4ff; border-radius: 12px; padding: 15px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.08);">
            <h4 style="margin:0 0 10px; color:#2a3a6b; font-weight:600; font-size:13px;">영업시간 (중식)</h4>
            <div style="display: flex; align-items: center; gap: 8px;">
                <select name="lunchStr" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="12:00" th:selected="${dinning.dinningLunchStr == '12:00'}">12:00</option>
                <option value="12:30" th:selected="${dinning.dinningLunchStr == '12:30'}">12:30</option>
                <option value="13:00" th:selected="${dinning.dinningLunchStr == '13:00'}">13:00</option>
                <option value="13:30" th:selected="${dinning.dinningLunchStr == '13:30'}">13:30</option>
                <option value="14:00" th:selected="${dinning.dinningLunchStr == '14:00'}">14:00</option>
                </select>
                <span style="color: #2a3a6b; opacity: 0.5;">/</span>
                <select name="lunchEnd" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="15:00" th:selected="${dinning.dinningLunchEnd == '15:00'}">15:00</option>
                <option value="15:30" th:selected="${dinning.dinningLunchEnd == '15:30'}">15:30</option>
                <option value="16:00" th:selected="${dinning.dinningLunchEnd == '16:00'}">16:00</option>
                <option value="16:30" th:selected="${dinning.dinningLunchEnd == '16:30'}">16:30</option>
                <option value="17:00" th:selected="${dinning.dinningLunchEnd == '17:00'}">17:00</option>
                </select>
            </div>
        </div>

        <div style="background: #f0f4ff; border-radius: 12px; padding: 15px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.08);">
            <h4 style="margin:0 0 10px; color:#2a3a6b; font-weight:600; font-size:13px;">영업시간 (석식)</h4>
            <div style="display: flex; align-items: center; gap: 8px;">
                <select name="dinnerStr" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="18:00" th:selected="${dinning.dinningDinnerStr == '18:00'}">18:00</option>
                <option value="18:30" th:selected="${dinning.dinningDinnerStr == '18:30'}">18:30</option>
                <option value="19:00" th:selected="${dinning.dinningDinnerStr == '19:00'}">19:00</option>
                <option value="19:30" th:selected="${dinning.dinningDinnerStr == '19:30'}">19:30</option>
                <option value="20:00" th:selected="${dinning.dinningDinnerStr == '20:00'}">20:00</option>
                </select>
                <span style="color: #2a3a6b; opacity: 0.5;">/</span>
                <select name="dinnerEnd" style="flex: 1; background-color: white; border: 1px solid #ddecff; border-radius: 5px; padding: 8px; font-size: 14px; text-align: center;">
                <option value="21:00" th:selected="${dinning.dinningDinnerEnd == '21:00'}">21:00</option>
                <option value="21:30" th:selected="${dinning.dinningDinnerEnd == '21:30'}">21:30</option>
                <option value="22:00" th:selected="${dinning.dinningDinnerEnd == '22:00'}">22:00</option>
                <option value="22:30" th:selected="${dinning.dinningDinnerEnd == '22:30'}">22:30</option>
                <option value="23:00" th:selected="${dinning.dinningDinnerEnd == '23:00'}">23:00</option>
                </select>
            </div>
        </div>
    </div>

    <div style="flex: 6; background: #f0f4ff; padding: 15px; border-radius: 12px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.05); display: flex; flex-direction: column;">
        <h4 style="margin: 0 0 10px 5px; color: #2a3a6b; font-weight: 600; font-size: 14px;">소개글</h4>
        <textarea placeholder="여기에 다이닝 소개글을 입력하세요..." name="dinningDetail" style="width: 100%; flex: 1; min-height: 100px; padding: 15px; border: 1px solid #ddecff; border-radius: 8px; font-size: 14px; color: #333; outline: none; resize: none; box-sizing: border-box;" th:text="${dinning.dinningDetail}"></textarea>
        <h4 style="margin: 15px 0 10px 5px; color: #2a3a6b; font-weight: 600; font-size: 14px;">설명</h4>
        <textarea placeholder="여기에 다이닝 소개글을 입력하세요..." name="dinningEx" style="width: 100%; flex: 1; min-height: 100px; padding: 15px; border: 1px solid #ddecff; border-radius: 8px; font-size: 14px; color: #333; outline: none; resize: none; box-sizing: border-box;" th:text="${dinning.dinningEx}"></textarea>
    </div>

</div>


<!-- 테이블 -->
    <div style="display: flex; gap: 20px;">
        <div style="flex: 1; background: #f0f4ff; padding: 15px; border-radius: 12px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.05);">
            <h4 style="margin: 0 0 10px 5px; color: #2a3a6b; font-weight: 600; font-size: 14px; text-align: center;">이용 금액</h4>
            <table style="width: 100%; background: white; border-collapse: collapse; border-radius: 8px; overflow: hidden;">
                <tr style="background: #eef2ff;">
                    <th style="padding: 10px; border: 1px solid #ddecff; color: #2a3a6b; font-size: 13px;text-align: center;">이용금액</th>
                    <th style="padding: 10px; border: 1px solid #ddecff; color: #2a3a6b; font-size: 13px;text-align: center;">어른</th>
                    <th style="padding: 10px; border: 1px solid #ddecff; color: #2a3a6b; font-size: 13px;text-align: center;">어린이</th>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">조식</td>
                    <td style="padding: 4px;"><input type="text" id="morningAdult" name="morningAdult" class="price" value="Content" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[0].adultPrice}"></td>
	                <td style="padding: 4px;"><input type="text" id="morningKid" name="morningKid" class="price" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[0].kidPrice}"></td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">중식</td>
                    <td style="padding: 4px;"><input type="text" id="lunchAdult" name="lunchAdult" class="price" value="Content" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[1].adultPrice}"></td>
	                <td style="padding: 4px;"><input type="text" id="lunchKid" name="lunchKid" class="price" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[1].kidPrice}"></td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">석식</td>
                    <td style="padding: 4px;"><input type="text" id="dinnerAdult" name="dinnerAdult" class="price" value="Content" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[2].adultPrice}"></td>
	                <td style="padding: 4px;"><input type="text" id="dinnerKid" name="dinnerKid" class="price" style="width: 100%; height: 28px; border: 1px solid #eee; border-radius: 4px; text-align: center;" th:value="${dinningList[2].kidPrice}"></td>
                </tr>
            </table>
        </div>

        <div style="flex: 1; background: #f0f4ff; padding: 15px; border-radius: 12px; box-shadow: inset 0 0 5px rgba(42, 58, 107, 0.05);">
    <h4 style="margin: 0 0 10px 5px; color: #2a3a6b; font-weight: 600; font-size: 14px; text-align: center;">메뉴 구성</h4>
    <table style="width: 100%; background: white; border-collapse: collapse; border-radius: 8px; overflow: hidden;">
        <tr style="background: #eef2ff;">
            <th style="padding: 10px; border: 1px solid #ddecff; width: 60px;"></th>
            <th style="padding: 10px; border: 1px solid #ddecff; color: #2a3a6b; font-size: 13px; text-align: center; width: 30%;">메인메뉴</th>
            <th style="padding: 10px; border: 1px solid #ddecff; color: #2a3a6b; font-size: 13px; text-align: center;">사이드메뉴</th>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">조식</td>
            <td style="padding: 4px;"><input type="text" name="morningMain" th:value="${dinningList[0].dinningMenuMain}" value="Content" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
            <td style="padding: 4px;"><input type="text" name="morningSub" th:value="${dinningList[0].dinningMenuSub}" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">중식</td>
            <td style="padding: 4px;"><input type="text" name="lunchMain" th:value="${dinningList[1].dinningMenuMain}" value="Content" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
            <td style="padding: 4px;"><input type="text" name="lunchSub" th:value="${dinningList[1].dinningMenuSub}" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #f0f4ff; text-align: center; font-size: 13px; color: #2a3a6b; font-weight: 600;">석식</td>
            <td style="padding: 4px;"><input type="text" name="dinnerMain" th:value="${dinningList[2].dinningMenuMain}" value="Content" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
            <td style="padding: 4px;"><input type="text" name="dinnerSub" th:value="${dinningList[2].dinningMenuSub}" style="width: 90%; height: 28px; padding: 2px 8px; border: 1px solid #eee; border-radius: 4px; text-align: center; color: #333; font-size: 13px;"></td>
        </tr>
    </table>
</div>
    </div>

    <div style="display: flex; gap: 15px; justify-content: flex-end; margin-top: 10px; border-top: 1px solid #eee; padding-top: 20px;">
        <input type="button" value="취소" id="cancelBtn" style="padding: 10px 35px; border: 2px solid #7495CC; border-radius: 10px; background-color: white; color: #7495CC; font-weight: 600; cursor: pointer; font-size: 15px;">
        <input type="button" id="modifyBtn" value="수정" style="padding: 10px 35px; border: none; border-radius: 10px; background-color: #7495CC; color: white; font-weight: 600; cursor: pointer; font-size: 15px; box-shadow: 0 3px 8px rgba(116, 149, 204, 0.3);">
    </div>
</div>
							
							</div>
                        	

                   		</div>
                	            </form>
                	</div>
        </div>
	
        <!-- 막기 -->
    
       <div th:replace="~{manager/fragments/footer :: footer}"></div>
</body>

</html>