<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<properties resource="properties/database.properties"/>
	<typeAliases>
		<typeAlias type="kr.co.noir.room.RoomDomain" alias="roomDomain"/>
		<typeAlias type="kr.co.noir.room.RoomDTO" alias="roomDTO"/>
		<typeAlias type="kr.co.noir.room.RoomPriceDomain" alias="roomPriceDomain"/>		
		<typeAlias type="kr.co.noir.room.RoomPriceDTO" alias="roomPriceDTO"/>				
		<typeAlias type="kr.co.noir.reserve.RoomSearchDomain" alias="roomSearchDomain"/>		
		<typeAlias type="kr.co.noir.reserve.RoomSearchDTO" alias="roomSearchDTO"/>		
		<typeAlias type="kr.co.noir.dinning.DinningDomain" alias="dinningDomain"/>
		
		<!-- 박현욱 사용 -->		
		<typeAlias type="kr.co.noir.mypage.EventDomain" alias="eventDomain"/>		
		<typeAlias type="kr.co.noir.mypageInfo.PasswordDTO" alias="passwordDTO"/>		
		<typeAlias type="kr.co.noir.mypageInfo.MemberInfoDomain" alias="mInfoDomain"/>		
     	 <typeAlias type="kr.co.noir.login.MemberDTO" alias="memberDTO"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.HotelRevSearchDomain" alias="hotelRevSearchDomain"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.ReserveSearchDTO" alias="reserveSearchDTO"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.ReserveDetailDTO" alias="reserveDetailDTO"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.HotelRevDetailDomain" alias="hotelRevDetailDomain"/>   
	
		<!-- 이준원 사용 -->
		<typeAlias type="kr.co.noir.reserve.RoomSearchDomain" alias="roomSearchDomain"/><!-- 방 검색 -->		
		<typeAlias type="kr.co.noir.reserve.RoomSearchDTO" alias="roomSearchDTO"/><!-- 방 검색 -->
		<typeAlias type="kr.co.noir.reserve.MemberDomain" alias="memberDomain"/><!-- 회원 정보 채우기 -->
		<!-- 박진규 사용 -->
        <typeAlias type="kr.co.noir.login.MemberDTO" alias="MemberDTO"/>
    </typeAliases>
	
  	<environments default="development">
    	<environment id="development">
      	<transactionManager type="JDBC"/>
      	<dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${id}"/>
        <property name="password" value="${pass}"/>  
     	 </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/co/noir/room/roomMapper.xml"/> <!-- select 연습 -->
    <mapper resource="kr/co/noir/reserve/reserveMapper.xml"/>
    <mapper resource="kr/co/noir/dinning/dinningMapper.xml"></mapper>
    <mapper resource="kr/co/noir/mypage/MypageMapper.xml"/> <!-- select 연습 -->
    <mapper resource="kr/co/noir/mypageInfo/mypageInfoMapper.xml"></mapper>
    <mapper resource="kr/co/noir/mypageReserve/mypageRevMapper.xml"></mapper>
    <mapper resource="mapper/LoginMemberMapper.xml"/>
    <mapper resource="mapper/LoginAdminMapper.xml"/>
  </mappers>
</configuration>