<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties"/>
	<typeAliases>
		<typeAlias type="kr.co.noir.room.RoomDomain" alias="roomDomain"/>		
		<typeAlias type="kr.co.noir.reserve.RoomSearchDomain" alias="roomSearchDomain"/>		
		<typeAlias type="kr.co.noir.reserve.RoomSearchDTO" alias="roomSearchDTO"/>		
		<typeAlias type="kr.co.noir.dinning.DinningDomain" alias="dinningDomain"/>		
		<typeAlias type="kr.co.noir.mypage.EventDomain" alias="eventDomain"/>		
		<typeAlias type="kr.co.noir.mypageInfo.PasswordDTO" alias="passwordDTO"/>		
		<typeAlias type="kr.co.noir.mypageInfo.MemberInfoDomain" alias="mInfoDomain"/>		
	     <typeAlias type="kr.co.noir.mypageInfo.MemberInfoDomain" alias="mInfoDomain"/>      
     	 <typeAlias type="kr.co.noir.login.MemberDTO" alias="memberDTO"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.HotelRevSearchDomain" alias="hotelRevSearchDomain"/>   
     	 <typeAlias type="kr.co.noir.mypageReserve.ReserveSearchDTO" alias="reserveSearchDTO"/>   
	
	</typeAliases>
	
	
  	<environments default="development">
    	<environment id="development">
      	<transactionManager type="JDBC"/>
      	<dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${id}"/>
        <property name="password" value="${pass}"/>  
     	 </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/co/noir/room/roomMapper.xml"/> <!-- select 연습 -->
    <mapper resource="kr/co/noir/reserve/reserveMapper.xml"/>
    <mapper resource="kr/co/noir/dinning/dinningMapper.xml"></mapper>
    <mapper resource="kr/co/noir/mypage/MypageMapper.xml"/> <!-- select 연습 -->
    <mapper resource="kr/co/noir/mypageInfo/mypageInfoMapper.xml"></mapper>
    <mapper resource="kr/co/noir/mypageReserve/mypageRevMapper.xml"></mapper>
  </mappers>
</configuration>