<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>이벤트 추가 프로세스</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script type="text/javascript">
$(function () {
  var flagStr = document.getElementById("flag").value;
  var currentPage = document.getElementById("currentPage").value || "1";
  var flag = (flagStr === "true");

  if (flag) {
    alert("수정되었습니다.");
    location.href = "/notice/searchAllNotice?currentPage=" + encodeURIComponent(currentPage);
  } else {
    alert("수정에 실패했습니다.");
    history.back();
  }
});
</script>
</head>
<body>
  <input type="hidden" id="flag" th:value="${flag}">
  <input type="hidden" id="currentPage" th:value="${currentPage}">
</body>


</body>
</html>
