<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.noir.eventAdmin">


  <!-- 1) 총 개수 -->
  <select id="selectEventTotalCnt"
          parameterType="kr.co.noir.event.EventRangeDTO"
          resultType="int">
    SELECT COUNT(*)
    FROM event
    WHERE event_del_flag = 'N'
    <if test="field != null and field != '' and keyword != null and keyword != ''">
      <choose>
        <!-- field 값은 너 EventRangeDTO/화면 셀렉트 값에 맞춰서 조정 -->
        <when test="field == '1'">
          AND event_title LIKE '%' || #{keyword} || '%'
        </when>
        <when test="field == '2'">
          AND event_msg LIKE '%' || #{keyword} || '%'
        </when>
        <when test="field == '3'">
          AND event_sub_title LIKE '%' || #{keyword} || '%'
        </when>
      </choose>
    </if>
  </select>


  <!-- 2) 목록 (Oracle ROW_NUMBER 페이징) -->
  <select id="selectEventList"
          parameterType="kr.co.noir.event.EventRangeDTO"
          resultType="kr.co.noir.event.EventAdminDomain">
    SELECT
      event_num,
      admin_num,
      event_title,
      event_sub_title,
      event_img1,
      event_img2,
      event_msg,
      event_start_date,
      event_end_date,
      event_date,
      event_del_flag
    FROM (
      SELECT
        ROW_NUMBER() OVER (ORDER BY event_num DESC) rn,
        e.*
      FROM event e
      WHERE e.event_del_flag = 'N'
      <if test="field != null and field != '' and keyword != null and keyword != ''">
        <choose>
          <when test="field == '1'">
            AND e.event_title LIKE '%' || #{keyword} || '%'
          </when>
          <when test="field == '2'">
            AND e.event_msg LIKE '%' || #{keyword} || '%'
          </when>
          <when test="field == '3'">
            AND e.event_sub_title LIKE '%' || #{keyword} || '%'
          </when>
        </choose>
      </if>
    )
    WHERE rn BETWEEN #{startNum} AND #{endNum}
  </select>


  <!-- 3) 상세 -->
  <select id="selectEventDetail"
          parameterType="int"
          resultType="kr.co.noir.event.EventAdminDomain">
    SELECT
      event_num,
      admin_num,
      event_title,
      event_sub_title,
      event_img1,
      event_img2,
      event_msg,
      event_start_date,
      event_end_date,
      event_date,
      event_del_flag
    FROM event
    WHERE event_num = #{eventNum}
      AND event_del_flag = 'N'
  </select>


  <!-- 4) 등록 -->
  <insert id="insertEvent"
          parameterType="kr.co.noir.event.EventAdminDTO">
    INSERT INTO event (
      event_num,
      admin_num,
      event_title,
      event_sub_title,
      event_img1,
      event_img2,
      event_msg,
      event_start_date,
      event_end_date,
      event_date,
      event_del_flag
    ) VALUES (
      event_seq.NEXTVAL,
      #{adminNum},
      #{eventTitle},
      #{eventSubTitle},
      #{eventImg1},
      #{eventImg2},
      #{eventMsg},
      #{eventStartDate},
      #{eventEndDate},
      SYSDATE,
      'N'
    )
  </insert>


  <!-- 5) 수정 (IP 안 씀 / adminNum으로 갱신) -->
  <update id="updateEvent"
          parameterType="kr.co.noir.event.EventAdminDTO">
    UPDATE event
    SET
      admin_num = #{adminNum},
      event_title = #{eventTitle},
      event_sub_title = #{eventSubTitle},
      event_img1 = #{eventImg1},
      event_img2 = #{eventImg2},
      event_msg = #{eventMsg},
      event_start_date = #{eventStartDate},
      event_end_date = #{eventEndDate}
    WHERE event_num = #{eventNum}
      AND event_del_flag = 'N'
  </update>


  <!-- 6) 삭제 (소프트 삭제) -->
  <update id="deleteEvent"
          parameterType="kr.co.noir.event.EventAdminDTO">
    UPDATE event
    SET
      event_del_flag = 'Y',
      admin_num = #{adminNum}
    WHERE event_num = #{eventNum}
      AND event_del_flag = 'N'
  </update>

</mapper>
