<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.event">

	<select id="selectBoardTotalCount" parameterType="kr.co.noir.notice.BoardRangeDTO"
		resultType="int">
		SELECT COUNT(*) cnt 
		FROM event
		<where>
			<if test="keyword != null and keyword != ''">
				instr(${fieldStr}, #{keyword}) != 0
			</if>
		</where>
	</select>

	<select id="selectRangeBoard" parameterType="kr.co.noir.notice.BoardRangeDTO"
		resultType="kr.co.noir.event.EventDomain">
		SELECT 
			event_num AS eventNum, 
			event_title AS eventTitle, 
			event_sub_title AS eventSubTitle, 
			event_msg AS eventMsg, 
			event_del_flag AS eventDelFlag, 
			event_start_date AS eventStartDate, 
			event_date AS eventDate, 
			event_end_date AS eventEndDate
		FROM (
			SELECT 
				event_num, event_title, event_sub_title, event_msg, event_del_flag, event_start_date, event_date, event_end_date,
				ROW_NUMBER() OVER(ORDER BY event_date DESC) rnum
			FROM event
			
		) 
		WHERE rnum BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="selectBoardDetail" parameterType="int"
		resultType="kr.co.noir.event.EventDomain">
		SELECT 
			event_num AS eventNum, 
			event_title AS eventTitle, 
			event_sub_title AS eventSubTitle, 
			event_img1 AS eventImg1, 
			event_img2 AS eventImg2, 
			event_msg AS eventMsg, 
			event_del_flag AS eventDelFlag, 
			event_start_date AS eventStartDate, 
			event_date AS eventDate, 
			event_end_date AS eventEndDate
		FROM event
		WHERE event_num = #{event_num}
	</select>

</mapper>