<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"	href="/common/images/favicon.ico">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="title" content="HOTEL 28">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HOTEL 28</title>
<link rel="stylesheet" type="text/css" href="/common/css/homepage/base.css">
<link rel="stylesheet" type="text/css" href="/common/css/homepage/style.css?v=0312">
<link rel="stylesheet" type="text/css" href="/common/css/homepage/sub.css?v=0312">
<!-- jQeury CDN 시작 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/common/js/comm/jquery.bxslider.js"></script>
<script src="/common/js/homepage/jquery.rwdImageMaps.min.js"></script>
<script src="/common/js/homepage/jquery.accessibility.modal.js"></script>
<script src="/common/js/comm/jquery.cookie.js"></script>
<script src="/common/js/homepage/plugin.js"></script>
<script src="/common/js/homepage/custom.js"></script>
</head> 
<div class="wrapper">
    <div id="popIframe" class="popup_rsvn">
        <iframe name="popupIframe" id="popupIframe" src="" width="100%" height="100%" scrolling="no" visible="true" frameborder="0"></iframe>
		<a href="#" class="btn_pop_close">X</a>
    </div>
</div>
<a href="#popIframe" class="open_modal" url="/view/roomReservationStep2.do" id="rsvnLayer" style="display:none;"></a>
<script src="https://cdn.tailwindcss.com"></script>
<script>
var CONTEXT = '';
$(document).ready(function($) {
    $('.open_modal').click(function(e) {    	
        $("iframe").attr("src", $(this).attr('url')).show();        	
        e.preventDefault();
    });
});

$(document).on('click','.btn_pop_close',function(e){
	$('#popIframe > iframe').attr('src','').hide();
	e.preventDefault();
})
</script>
<style>
.subject
{
color:white;
text-decoration: none;
}


.main-sub > ul > li > a {
	text-decoration: none;
}


.info > ul > li > a {
	
	color:white;
	text-decoration: none;
}
.info > ul > li {
	list-style:none;
}

.footer_bot{
padding:0px;
}

#container{
min-height:700px;
padding-top: 220px;
}
.text-xl, .text-sm, #at{
color:white;
}
.hr{
margin-bottom: 40px;
width:100%;
}
.bor, tr, td{
border : solid 2px #B69670 ;
padding: 10px;
color: #48484c;
font-size: 13px;
}
table{
 border-collapse: collapse;
 background-color: #fff;
}
.payMsgDiv{
font-size: 12px;
color : #fff;
margin-top: 10px;
}


</style>


<body>
<header>
<div th:replace="~{fragments/header :: header}"></div>
</header>
<div id="container">

    <div class="max-w-5xl mx-auto flex flex-col md:flex-row gap-8">
        
        <div class="flex-1" style="margin-right:100px;">
            <h2 class="text-xl font-bold ">고객정보 입력</h2>
            <img src="/common/images/res_img/hr.png" class="hr"/>
            <form action="reservationProcess.jsp" method="POST" class="space-y-6">
                <div>
                    <label class="block text-sm mb-1">고객명 <span class="text-red-500">*</span></label>
                    <div class="flex gap-4">
                        <input type="text" name="lastName" placeholder="last name" class="w-1/2 bg-white text-black p-2 rounded bor">
                        <input type="text" name="firstName" placeholder="first name" class="w-1/2 bg-white text-black p-2 rounded bor">
                    </div>
                </div>

                <div>
                    <label class="block text-sm mb-1">이메일 주소 <span class="text-red-500">*</span></label>
                    <div class="flex items-center gap-2">
                        <input type="text" name="emailId" class="bg-white text-black p-2 rounded bor" style="width:300px;">
                        <span id="at">@</span>
                        <input type="text" name="emailDomain" class=" bg-white text-black p-2 rounded bor">
                        <select class="bg-white text-black p-2 rounded bor" style=" width:200px; ">
                            <option>직접입력</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label class="block text-sm mb-1">휴대폰 번호 <span class="text-red-500">*</span></label>
                    <div class="flex gap-2">
                        <select class="w-1/3 bg-white text-black p-2 rounded bor">
                            <option>+82(대한민국)</option>
                        </select>
                        <input type="text" name="phone" placeholder="01023507803" class="w-2/3 bg-white text-black p-2 rounded bor">
                    </div>
                </div>
                <div>
                    <label class="block text-sm mb-1 ">요청 사항 </label>
                   <div class="w-full">
   						<textarea class="bor w-full border p-2 text-black rounded bor" rows="1"></textarea>
						<div class="text-right">
        					<span class="text-sm text-gray-500">0/100</span>
    					</div>
    					<span class="payMsgDiv">※ 요청사항은 호텔 상황에 따라 확정되지 않을 수 있습니다.</span>
					</div>
                </div>
                 
                <div>
                    <label class="block text-sm mb-1">예약 확인 비밀번호<span class="text-red-500">*</span></label>
                    <div>
                        <input type="password" name="password" placeholder="비밀번호 입력" class="w-1/2 bg-white text-black p-2 rounded bor">
                        <input type="password" name="password2" placeholder="비밀번호 확인" class="w-1/2 bg-white text-black p-2 rounded bor" style="margin-top:10px;">
                    </div>
                </div>

                <div class="pt-6 border-t border-zinc-700">
                    <h2 class="text-xl font-bold ">신용카드 정보</h2>
                    <img src="/common/images/res_img/hr.png" class="hr"/>
                    
                    <div class="space-y-4">
                        <div class="flex items-center">
                            <span class="w-24 text-sm ">카드종류 <span class="text-red-500"> *</span></span>
                            <select name="cardType" class=" bg-white text-black p-2 bor" style="width:200px">
                                <option>카드 선택</option>
                            </select>
                        </div>
                        <div class="flex items-center">
                            <span class="w-24 text-sm">카드번호 <span class="text-red-500"> *</span></span>
                            <div class="flex flex-1 gap-2">
                                <input type="text" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="password" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="password" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="text" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                            </div>
                        </div>
                        <div class="flex items-center">
                            <span class="w-24 text-sm">유효기간 <span class="text-red-500"> *</span></span>
                        <div class="flex flex-1 gap-2">
    						<select id="month" class="w-1/4 bg-white text-black p-2 text-center bor">
     						   <option value="" disabled selected>월</option>
     						   <option th:each="m : ${#numbers.sequence(1, 12)}"
      							        th:value="${#numbers.formatInteger(m, 2)}"
        						        th:text="${#numbers.formatInteger(m, 2)}">
        						</option>
    						</select>
						    <select id="year" class="w-1/4 bg-white text-black p-2 text-center bor">
							        <option value="" disabled selected>연</option>
        							<option th:each="y : ${#numbers.sequence(2024, 2034)}" th:value="${y}" th:text="${y}">
        							</option>
    						</select>
						</div>
						</div>
                    </div>
                    <div class="payMsgDiv">
                    ※ 신용카드 정보는 고객님의 예약을 개런티하기 위한 용도 외에는 어떤 목적으로도 사용되지 않으며, 체크카드 및 일부 신용 카드의 경우 사용이 제한 될 수 있습니다.<br>
					※ <span style="color:red">온라인 예약 시 직접 결제가 이루어지지 않으며</span>, 최종 결제는 프론트 데스크에서 해주시기 바랍니다. 
                    </div>
                </div>

                <div class="bg-zinc-800 p-4 rounded text-sm space-y-2">
                    <label class="flex items-center gap-2">
                        <input type="checkbox" id="checkAll"> 전체 동의
                    </label>
                    <hr class="border-zinc-600">
                    <div class="  items-center text-zinc-400">
                        <label class="flex items-center gap-2"><input type="checkbox"> [필수] 만 14세 이상 이용 동의</label>
                        <label class="flex items-center gap-2"><input type="checkbox"> [필수] 개인정보 수집 및 이용 동의 </label>
                        <label class="flex items-center gap-2"><input type="checkbox"> [필수] 개인정보 제 3자 제공 동의</label>
                    </div>
                </div>
                <div class="pt-6 border-t border-zinc-700 text-white" style="padding:0px;">
                	<h2 class="text-xl font-bold ">취소 정책</h2>
                   	<img src="/common/images/res_img/hr.png" class="hr" style="margin-bottom:20px;"/>
	                <div>
	                <span style="font-weight: bold">예약 시 참고사항</span><br>
	                <div  class="payMsgDiv">
	                - 해당 예약은 홀 좌석 이용 시에만 예약 가능합니다.<br>
	                - 홀 예약 특성상 테이블 좌석으로만 안내되는 점 양해 부탁드립니다.<br>
	                - 당일 예약 불가하며, 당일 이용을 원하시는 경우 문의 전화로 연락 부탁드립니다.<br>
	                - 예약 접수 후 담당 직원이 유선으로 옝약 확정 여부를 안내드립니다.<br>
	                - 음식 관력 특이사항이 또는 알러지가 있으신 경우, 예약 시 추가 요청사항란에 반드시 기재해 주시기 바랍니다.<br>
	                - 중삭생부터 성인 요금이 적용되는 점 양해 부탁드립니다.<br>
	                </div>
	                </div>
                   	<div class="bg-zinc-800 p-4 rounded text-sm space-y-2" style="margin-top: 20px;">
                    <label class="flex items-center gap-2" >
                        <input type="checkbox" id="checkAll"> 취소 규정을 확인하였습니다.
                    </label>
                    <hr class="border-zinc-600">
                </div>
                </div>
        	 </form>
        </div>

        <div class="w-full md:w-80 h-fit text-black p-6 rounded shadow-lg" style="position: fixed; top:220px; right:100px; background-color: #eee8cc" >
            <h3 class="text-blue-900 font-bold border-b pb-2 mb-4">예약정보</h3>
            <div class=" space-y-3 mb-6">
                <div class="flex justify-between"><span>방문일</span><span class="font-semibold">2026-01-07 (화)</span></div>
                <div class="flex justify-between"><span>조식</span><span class="font-semibold">08:00</span></div>
                <div class="flex justify-between"><span>인원</span><span class="font-semibold text-right">성인/1 어린이/2</span></div>
            </div>
            <div class="border-t pt-4">
                <div class="flex justify-between items-center mb-6">
                    <span class="font-bold">총 금액</span>
                    <span class="!text-black text-xl font-bold">280,500 원</span>
                </div>
                <button class="w-full bg-[#1e293b] text-white py-3 rounded font-bold hover:bg-black transition">예약 하기</button>
            </div>
        </div>
    </div>

</div>
<footer>
 <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
 <div th:replace="~{fragments/privacy :: privacy}"></div>

<!-- <script type="text/javascript" src="/Hotel28NewCMS_common/js/jquery.modalLayer.js"></script>
<script type="text/javascript" src="/Hotel28NewCMS_common/js/common_dev.js"></script> -->
<script type="text/javascript" src="/common/js/comm/jquery.validate.js"></script>
<script type="text/javascript" src="/common/js/comm/wings.core.js"></script>
<script type="text/javascript" src="/common/js/comm/PAGING_HOMEPAGE.js"></script>
<script type="text/javascript" src="/common/js/comm/kendo.web.min.js"></script>

</body>
</html>
