<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="/common/images/favicon.ico">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="title" content="HOTEL 28">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HOTEL 28</title>
<link rel="stylesheet" type="text/css"
	href="/common/css/homepage/base.css">
<link rel="stylesheet" type="text/css"
	href="/common/css/homepage/style.css?v=0312">
<link rel="stylesheet" type="text/css"
	href="/common/css/homepage/sub.css?v=0312">
<!-- jQeury CDN 시작 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/common/js/comm/jquery.bxslider.js"></script>
<script src="/common/js/homepage/jquery.rwdImageMaps.min.js"></script>
<script src="/common/js/homepage/jquery.accessibility.modal.js"></script>
<script src="/common/js/comm/jquery.cookie.js"></script>
<script src="/common/js/homepage/plugin.js"></script>
<script src="/common/js/homepage/custom.js"></script>
<!-- Flatpickr 달력 CDN -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css"
	href="https://npmcdn.com/flatpickr/dist/themes/Default.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>

</head>
<div class="wrapper">
	<div id="popIframe" class="popup_rsvn">
		<iframe name="popupIframe" id="popupIframe" src="" width="100%"
			height="100%" scrolling="no" visible="true" frameborder="0"></iframe>
		<a href="#" class="btn_pop_close">X</a>
	</div>
</div>
<a href="#popIframe" class="open_modal"
	url="/view/roomReservationStep2.do" id="rsvnLayer"
	style="display: none;"></a>
<script src="https://cdn.tailwindcss.com"></script>
<script>
	var CONTEXT = '';
	$(document).ready(function($) {
		$('.open_modal').click(function(e) {
			$("iframe").attr("src", $(this).attr('url')).show();
			e.preventDefault();
		});
	});

	$(document).on('click', '.btn_pop_close', function(e) {
		$('#popIframe > iframe').attr('src', '').hide();
		e.preventDefault();
	})
</script>
<style>
.subject {
	color: white;
	text-decoration: none;
}

.main-sub>ul>li>a {
	text-decoration: none;
}

.info>ul>li>a {
	color: white;
	text-decoration: none;
}

.info>ul>li {
	list-style: none;
}

.footer_bot {
	padding: 0px;
}

#container {
	min-height: 700px;
	padding-top: 220px;
}

.text-xl, .text-sm, #at {
	color: white;
}

.hr {
	margin-bottom: 40px;
	width: 100%;
}

span {
	color: black;
}

.personBtn {
	border: solid 1px #8b7355;
	width: 25px;
	height: 25px;
}

</style>
<script type="text/javascript">
	
$(function(){
// 성인 수 설정
	var adultCnt=1;
	$("#adultUp").click(function(){
		adultCnt+=1;
		$("#adultCnt").text(adultCnt);
	})
	$("#adultDown").click(function(){
		if(adultCnt > 1){ // 0보다 클 때만 감소
			adultCnt--;
		$("#adultCnt").text(adultCnt);
	    }
	})
// 어린이 수 설정
	var kidCnt=0;
	$("#kidUp").click(function(){
		kidCnt+=1;
		$("#kidCnt").text(kidCnt);
	})
	$("#kidDown").click(function(){
		if(kidCnt > 0){ // 0보다 클 때만 감소
	        kidCnt--;
	        $("#kidCnt").text(kidCnt);
	    }
	})
//예약 하기 버튼
	$("#reserve").click(function(){
		if(adultCnt > roomMaxPerson){
			alert("객실 수와 인원 수를 확인해주세요.");
			return;
		}
		if($("#display-checkout").text() == "-" ){
			alert("체크인/체크아웃 날짜를 확인해주세요.");
			return;
		}
		$("#reserveFrm").attr("action","/reserve/roomReserve");
		$("#reserveFrm").submit();
	})
	
	$("#nonReserve").click(function(){
		if(adultCnt > roomMaxPerson){
			alert("객실 수와 인원 수를 확인해주세요.");
			return;
		}
		$("#reserveFrm").attr("action","/reserve/nonRoomReserve");
		$("#reserveFrm").submit();
	})
	
	
});//ready
	var selectedRoomCnt={1:0,2:0,3:0,4:0,5:0}; //선택된 각각의 객실 수를 저장하는 배열
	var roomMaxPerson=0;
	var roomCnt=0;
	var divNum=1;
	var totalPrice=0;
	function selectRoom(roomName,personCnt,price,period,availableRoom,roomNum){
		var currentRoomCnt = selectedRoomCnt[roomNum];
		if(currentRoomCnt+1 > availableRoom){
			alert("예약 가능한 객실이 없습니다.");
			return;
		}
		selectedRoomCnt[roomNum]+=1
		roomMaxPerson+=personCnt;
		var selectDiv="";
		selectDiv+=`<div style="background-color: #e5e7eb; border-radius: 2px; padding:3px; display: flex;" id='${divNum}'> 
			<div style="display:flex; align-items: center; justify-content:space-between; width: 230px;">
			<span class='font-bold !text-black text-sm'>${roomName}  |</span>
			<input type="hidden" name="roomName" value="${roomName}"/>
			<span class='font-bold !text-black text-sm' >인원 : ${personCnt}명</span>
			</div>
			<div style="margin-left:auto;">
			<button onclick="selectRoomRemove(${divNum},${price},${period},${roomNum})"
				class="text-white px-4 py-1 text-xs rounded-sm bg-[#8b7355] hover:bg-[#7a654a]">삭제</button>
			</div>
			</div>`
		$("#selectRoom").append(selectDiv);
		divNum+=1;
		roomCnt+=1;
		totalPrice+=price;
		$("#roomCnt").text(roomCnt);
		$("#totalPrice").text(totalPrice.toLocaleString()+"원");
		$("#price").val(totalPrice.toLocaleString());
		$("#avePrice").text("1박 당 평균 : "+(totalPrice/period).toLocaleString()+"원");
		
	}
	function selectRoomRemove(divNum,price,period,roomNum){
		$("#selectRoom>#"+divNum).remove();
		selectedRoomCnt[roomNum]-=1
		roomCnt-=1;
		totalPrice-=price;
		$("#roomCnt").text(roomCnt);
		$("#totalPrice").text(totalPrice.toLocaleString()+"원");
		$("#price").val(totalPrice.toLocaleString()	);
		$("#avePrice").text("1박 당 평균 : "+(totalPrice/period).toLocaleString()+"원");
	}
	
	function searchRoom(startDate, endDate ){
		var param ={startDate : startDate, endDate : endDate};
		$.ajax({
			url:"/reserve/RoomSearchProcess",
			type:"GET",
			dataType: "JSON",
			data : param,
			beforeSend: function() {
	            // 1. 기존 목록을 지우고 로딩바(스켈레톤)를 보여줌
	            $("#roomList").hide(); // 실제 리스트 숨김
	            $("#roomLoader").show(); // 로딩 UI 노출
	        },
			success:function(list){
				setTimeout(function() {
				var output ="";
				$.each(list,function(i,rd){
					output += 
						`
			            <img src="/common/images/res_img/hr.png" />
			            <div class="space-y-6">
			                <div class="flex gap-6 py-6 border-b border-gray-800">
			                    <div class="relative w-1/3 shrink-0">
			                        <img src="/common/images/homepage/${rd.room_img1}" 
			                             class="w-full h-44 object-cover rounded-sm bg-gray-700">
			                        <button onclick="location.href='/roomDetailView?num=${rd.room_type_num}'"
			                            class="absolute bottom-0 left-0 right-0 bg-blue-900/80 text-[10px] py-2 px-3 flex justify-between">
			                            <span>객실 상세보기</span><span>→</span>
			                        </button>
			                    </div>
			                    <div class="flex flex-col justify-between flex-1">
			                        <div>
			                            <h3 class="text-lg font-semibold" id="roomType${i}">${rd.room_type}</h3>
			                            <p class="text-gray-500 text-xs" id="personCnt${i}">기준 ${rd.room_max_person} / 최대 ${rd.room_max_person}</p>
			                        </div>
			                        <div class="text-right">
			                            <p class="text-[11px] text-gray-500">1박/VAT포함</p>
			                            <p class="text-[15px] text-gray-500">남은 객실:${rd.available_count}</p>
			                            <p class="text-xl font-bold text-blue-400 mb-2">${rd.start_date_price.toLocaleString()}원~</p>
			                            <button class="bg-[#8b7355] hover:bg-[#7a654a] px-8 py-2 text-sm rounded-sm transition" 
			                                    id="select${i}" 
			                                    onclick="selectRoom('${rd.room_type}', ${rd.room_max_person}, ${rd.total_sum_price},${rd.period},${rd.available_count},${rd.room_type_num})">
			                                선택
			                            </button>
			                        </div>
			                    </div>
			                </div>
			            </div>`;;
				})
				$("#roomLoader").hide();
            	$("#roomList").html(output).fadeIn();
				}, 200);
			},
			error:function(xhr){
				alert("룸 검색 실패"+xhr.status);
			}
		})
	}
</script>

<body>
	<header>
		<div th:replace="~{fragments/header :: header}"></div>
	</header>
	<div id="container">
		<div class="bg-[#111] min-h-screen text-white p-4 font-sans">
			<div class="max-w-6xl mx-auto flex flex-col md:flex-row gap-8 py-10">

				<div id="selectRoomDiv" class="flex-[2]">
					
					<h2 class="text-xl font-bold mb-4 border-b border-gray-700 pb-2">일반
						상품</h2>

					<!-- 룸 선택 개수 만큼 반복 시켜야함---------------------------------------------------------------------------------------------------  -->
					<div id="roomLoader" style="display: none;">
    					<div class="animate-pulse space-y-6">
        					<div class="flex gap-6 py-6 border-b border-gray-800">
            					<div class="w-1/3 h-44 bg-gray-700 rounded-sm"></div> 
            					<div class="flex-1 space-y-4">
                				<div class="h-6 bg-gray-700 rounded w-3/4"></div> <div class="h-4 bg-gray-700 rounded w-1/2"></div> <div class="h-10 bg-gray-700 rounded w-full mt-4"></div> 
                				</div>
        					</div>
    					</div>
    					<div class="text-center py-4 text-gray-400">객실을 검색 중입니다...</div>
					</div>
					<div id="roomList">
					<img src="/common/images/res_img/hr.png" />
					<div class="space-y-6">
						<div class="flex gap-6 py-6 border-b border-gray-800">
						숙박 날짜를 선택해주세요.
						</div>

					</div>
				</div>
					</div>
				<!-- 룸 선택 끝 ---------------------------------------------------------------------------------------------------  -->
				<form id="reserveFrm">
				<div id="resInfoDiv" class="flex-1">
					<div class="sticky top-10 space-y-4">
						<!-- 달력 -->
						<div >
							<div class="calendar-wrapper border rounded-lg overflow-hidden w-full">
								<div  style="height:400px; display: flex; justify-content: center; background-color: white; padding-top: 30px; padding-bottom: 30px">
								<div id="inline-calendar"></div>
								</div>
								<div class="p-3 border-t flex justify-between items-center text-sm bg-gray-50">
									<span>체크인</span> <span id="display-checkin" class="font-bold">
									날짜를 선택하세요</span>
									<input type="hidden" name="checkin" id="checkin"/>
									
								</div>
								<div class="p-3 border-t flex justify-between items-center text-sm bg-gray-50">
									<span>체크아웃</span> <span id="display-checkout" class="font-bold">-</span>
									<input type="hidden" name="checkout" id="checkout"/>
								</div>
							</div>
						</div>

						<div class="bg-white text-black p-4 rounded-md shadow-md">
							<div class="flex justify-between items-center mb-4">
								<span class="font-bold">투숙인원</span>
							</div>
							<div class="flex gap-2 text-[10px] ">
								<div
									class="flex-1  !border-2 border-solid p-2 text-center !border-[#8b7355]">
									객실수<br>
									<div class="flex justify-center items-center ">
										<span  class="text-lg font-bold" id="roomCnt">0</span>
									</div>
								</div>
								<div
									class="flex-1 !border-2 border-solid !border-[#8b7355] p-2 p-2 text-center">
									성인<br>
									<div class="flex justify-between items-center ">
										<button id="adultDown" type="button">
											<img src="/common/images/res_img/downbtn.png"
												class="personBtn" />
										</button>
										<span class="text-lg font-bold" id="adultCnt">1</span>
										<button id="adultUp" type="button">
											<img src="/common/images/res_img/upbtn.png" class="personBtn" />
										</button>
									</div>
								</div>
								<div
									class="flex-1 !border-2 border-solid !border-[#8b7355] p-2 p-2 text-center">
									아동<br>
									<div class="flex justify-between items-center ">
										<button id="kidDown" type="button">
											<img src="/common/images/res_img/downbtn.png"
												class="personBtn" />
										</button>
										<span class="text-lg font-bold" id="kidCnt">0</span>
										<button id="kidUp" type="button">
											<img src="/common/images/res_img/upbtn.png" class="personBtn" />
										</button>
									</div>
								</div>
							</div>
						</div>
				
						<div class="space-y-2 " id="selectRoom">
						
						</div>
						
						<div class="space-y-2">
							<div class="bg-gray-200 p-3 flex justify-between items-center rounded-sm">
    <span class="font-bold !text-black text-sm">총 금액</span>
    
    <div class="text-right">
        <span class="text-xl font-bold !text-black block" id="totalPrice">0 원</span>
        <input type="hidden" name="price" id="price"/>
        <span id="avePrice" style="font-size:10px; display: block; color: gray;">1박 평균 : 0원</span>
    </div>
</div>
							<div class="flex gap-2">
								<button type="button"
									class="flex-1 bg-[#8b7355] hover:bg-[#7a654a] py-4 font-bold text-sm" id="reserve">예약하기</button>
								<button type="button"  class="flex-1 bg-[#333] py-4 font-bold text-sm" id="nonReserve">비회원
									예약 ></button>
							</div>
						</div>

						<div
							class="bg-white/10 p-4 text-[11px] flex justify-between rounded-sm">
							<span class="text-white">체크인 시간 15:00</span> <span
								class="text-white">/</span> <span class="text-white">체크아웃
								시간 12:00</span>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</footer>
	<div th:replace="~{fragments/privacy :: privacy}"></div>
	<!-- <script type="text/javascript" src="/Hotel28NewCMS_common/js/jquery.modalLayer.js"></script>
<script type="text/javascript" src="/Hotel28NewCMS_common/js/common_dev.js"></script> -->
	<script type="text/javascript" src="/common/js/comm/jquery.validate.js"></script>
	<script type="text/javascript" src="/common/js/comm/wings.core.js"></script>
	<script type="text/javascript" src="/common/js/comm/PAGING_HOMEPAGE.js"></script>
	<script type="text/javascript" src="/common/js/comm/kendo.web.min.js"></script>
	<script>
		flatpickr( "#inline-calendar",
				
				{
					mode : "range",
					inline : true, // 페이지에 달력을 바로 보여줌
					showMonths : 1, // 2달을 보여줌
					locale : "ko",
					minDate : "today",
					dateFormat : "Y-m-d",
				    enable: [
				        {
				            from: "today",
				            to: "2026-03-01"
				        }
				    ],
					onChange : function(selectedDates, dateStr, instance) {
						if (selectedDates.length > 0) {
							document.getElementById('display-checkin').innerText = instance
									.formatDate(selectedDates[0], "Y-m-d (D)");
							$("#checkin").val(instance.formatDate(selectedDates[0], "Y-m-d (D)"));
							$("#display-checkout").text("-");
							$("#totalPrice").empty();
							$("#avePrice").empty();
							$("#selectRoom").empty();
							$("#roomCnt").text("0");
							// 변수 초기화
							roomCnt=0;
							totalPrice=0;
							roomMaxPerson=0;
							selectedRoomCnt={1:0,2:0,3:0,4:0,5:0};
						}
						if (selectedDates.length > 1) {
							document.getElementById('display-checkout').innerText = instance
									.formatDate(selectedDates[1], "Y-m-d (D)");
							$("#checkout").val(instance.formatDate(selectedDates[0], "Y-m-d (D)"));
							startDate= instance.formatDate(selectedDates[0], "Y-m-d");
							var endDate= instance.formatDate(selectedDates[1], "Y-m-d");
							//선택 기간 중 남은 방 검색
							searchRoom(startDate,endDate);
						}
						
					}
				});
	</script>
</body>
</html>
