<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"	href="/common/images/favicon.ico">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="title" content="HOTEL 28">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HOTEL 28</title>
<link rel="stylesheet" type="text/css" href="/common/css/homepage/base.css">
<link rel="stylesheet" type="text/css" href="/common/css/homepage/style.css?v=0312">
<link rel="stylesheet" type="text/css" href="/common/css/homepage/sub.css?v=0312">
<!-- jQeury CDN 시작 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- PG사 CDN 시작 -->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
  var IMP = window.IMP;
  IMP.init("imp03674114"); // 관리자 페이지 '식별코드'

  var agreementFlag = true;
  function registerCard() {
	
    IMP.request_pay({
      pg: "tosspayments.iamporttest_4",// 스크린샷에 있던 PG사
      pay_method: "tosspay", // 필수 누락 확인
      merchant_uid: "issue_" + new Date().getTime(),
      customer_uid: "user_idx_1234"+ new Date().getTime(),  // 이 값이 빌링키가 됩니다 (DB에 저장할 값)
      name: "room",
      amount: 0,  
    
     
    }, function (rsp) {
      if (rsp.success) {
        	$("#billing_key").val(rsp.customer_uid);
        	$("#merchant_uid").val(rsp.merchant_uid);
        /* 	$("#card_number").val(rsp.card_number);
        	$("#agency").val(rsp.card_name);
        	$("#pg_provider").val(rsp.pg_provider);
        	$("#merchant_uid").val(rsp.merchant_uid);
        	alert($("#billing_key").val()) */
      }else {
          // 실패 시 왜 안 넘어오는지 이유를 알려줍니다.
          alert("실패 사유: " + rsp.error_msg);
          console.error("에러 상세:", rsp);
      }
  });
}
</script>

<script src="/common/js/comm/jquery.bxslider.js"></script>
<script src="/common/js/homepage/jquery.rwdImageMaps.min.js"></script>
<script src="/common/js/homepage/jquery.accessibility.modal.js"></script>
<script src="/common/js/comm/jquery.cookie.js"></script>
<script src="/common/js/homepage/plugin.js"></script>
<script src="/common/js/homepage/custom.js"></script>
</head> 
<div class="wrapper">
    <div id="popIframe" class="popup_rsvn">
        <iframe name="popupIframe" id="popupIframe" src="" width="100%" height="100%" scrolling="no" visible="true" frameborder="0"></iframe>
		<a href="#" class="btn_pop_close">X</a>
    </div>
</div>
<a href="#popIframe" class="open_modal" url="/view/roomReservationStep2.do" id="rsvnLayer" style="display:none;"></a>
<script src="https://cdn.tailwindcss.com"></script>
<script>
var CONTEXT = '';
$(document).ready(function($) {
    $('.open_modal').click(function(e) {    	
        $("iframe").attr("src", $(this).attr('url')).show();        	
        e.preventDefault();
    });
});

$(document).on('click','.btn_pop_close',function(e){
	$('#popIframe > iframe').attr('src','').hide();
	e.preventDefault();
})

$(function(){
	$("#request").on('input', function() {
  const length = $(this).val().length;
  // 1. 현재 글자 수 업데이트
  $("#reqCnt").text(length);
  // 2. 글자 수에 따른 시각적 피드백 (선택사항)
  if (length >= 100) {
	  $("#reqCnt").css('color','red'); // 꽉 차면 빨간색
  } else {
	  $("#reqCnt").css('color','#fff');
  }
	});//request input
	
	$("#request").on('keyup', function() {
	  const length = $(this).val().length;
		if(length>=100){
		alert("요청사항은 최대 100자까지 입력가능합니다.");
		$("#request").val($(this).val().substring(0,100));
		$("#reqCnt").text('100');
		}		
	});//request keup
	
	$("#checkAll").click(function(){
		$(".agreement-item").prop("checked",$(this).is(":checked"));
	})//checkAll
	
	

})//ready

function reserve(){
	const infos = $(".userInfo");
		for( const info of infos){
			if($(info).val().trim()==""){
				alert("예약자 정보를 입력해 주세요.")
				$(info).focus();			
			return;
			}
		}
	
	  $(".agreement-item").each(function(){
			agreementFlag = true;
			if(!$(this).is(":checked")){
				alert("개인정보 수집에 동의 해주세요.");
				agreementFlag = false;
				return false;
			}
		})
		
		if(!agreementFlag){return;}
		
		if(!$("#cancleComfirm").is(":checked")){
			alert("취소 규정을 확인해 주세요.")
			return;
		}
	$("#reserveFrm").submit();
}
function formatPhone(target) {
    // 숫자만 남기기
    let val =	 target.value.replace(/\D/g, "");
    let len = val.length;
    let result = "";

    // 010-0000-0000 형식 맞추기
    if (len < 4) {
        result = val;
    } else if (len < 8) {
        result = val.substring(0, 3) + "-" + val.substring(3);
    } else {
        result = val.substring(0, 3) + "-" + val.substring(3, 7) + "-" + val.substring(7);
    }
    target.value = result;
}
</script>
<style>
.subject
{
color:white;
text-decoration: none;
}


.main-sub > ul > li > a {
	text-decoration: none;
}


.info > ul > li > a {
	
	color:white;
	text-decoration: none;
}
.info > ul > li {
	list-style:none;
}

.footer_bot{
padding:0px;
}

#container{
min-height:700px;
padding-top: 220px;
}
.text-xl, .text-sm, #at{
color:white;
}
.hr{
margin-bottom: 40px;
width:100%;
}
.bor, tr, td{
border : solid 2px #B69670 ;
padding: 10px;
color: #48484c;
font-size: 13px;
}
table{
 border-collapse: collapse;
 background-color: #fff;
}
.payMsgDiv{
font-size: 12px;
color : #fff;
margin-top: 10px;
}


</style>


<body>
<header>
<div th:replace="~{fragments/header :: header}"></div>
</header>
<div id="container">
    <div class="max-w-5xl mx-auto flex flex-col md:flex-row gap-8">
        
      <form action="/reserve/complete" method="POST" class="space-y-6" id="reserveFrm">
        <div class="flex-1" style="margin-right:100px;" th:object="${member}">
            <h2 class="text-xl font-bold ">고객정보 입력</h2>
            <img src="/common/images/res_img/hr.png" class="hr"/>
                <div>
                    <label class="block text-sm mb-1">투숙객명 <span class="text-red-500">*</span></label>
                    <div class="flex gap-4">
                        <input type="text" name="user_last_name" placeholder="last name" class="w-1/2 bg-white text-black p-2 rounded bor userInfo" th:value="*{member_last_name}">
                        <input type="text" name="user_first_name" placeholder="first name" class="w-1/2 bg-white text-black p-2 rounded bor userInfo" th:value="*{member_first_name}">
                    </div>
                </div>

                <div>
                    <label class="block text-sm mb-1">이메일 주소 <span class="text-red-500">*</span></label>
                    <div class="flex items-center gap-2">
                        <input type="text" name="emailId" class="bg-white text-black p-2 rounded bor userInfo" style="width:300px;" th:value="*{member_email_id}">
                        <span id="at">@</span>
                        <input type="text" name="emailDomain" class=" bg-white text-black p-2 rounded bor userInfo" th:value="*{member_email_domain}">
                    </div>
                </div>

                <div>
                    <label class="block text-sm mb-1">휴대폰 번호 <span class="text-red-500">*</span></label>
                    <div class="flex gap-2">
                        <!-- <select class="w-1/3 bg-white text-black p-2 rounded bor">
                            <option>+82(대한민국)</option>
                        </select> -->
                        <input type="text" name="reserve_tel" placeholder="010-0000-0000" maxlength="13" oninput="formatPhone(this)" class="w-2/3 bg-white text-black userInfo p-2 rounded bor" th:value="*{member_tel}" >
                    </div>
                </div>
                <div>
                    <label class="block text-sm mb-1 ">요청 사항 </label>
                   <div class="w-full">
   						<textarea id="request" class="bor w-full border p-2 text-black rounded bor" name="reserve_msg" rows="1"></textarea>
						<div class="text-right">
        					<span class="text-sm text-gray-500"><span id="reqCnt">0</span>/100</span>
    					</div>
					</div>
                </div>

                <div class="pt-6 border-t border-zinc-700">
                    <h2 class="text-xl font-bold ">신용카드 정보</h2>
                    <img src="/common/images/res_img/hr.png" class="hr"/>
                    <button type="button" class="w-1/4 bg-[#1e293b] text-white py-3 rounded font-bold hover:bg-black transition" onclick="registerCard()">카드 등록</button>
                    
                </div>
               <!--     
                    <div class="space-y-4">
                        <div class="flex items-center">
                            <span class="w-24 text-sm ">카드종류 <span class="text-red-500"> *</span></span>
                            <select name="cardType" class=" bg-white text-black p-2 bor" style="width:200px">
                                <option>카드 선택</option>
                            </select>
                        </div>
                        <div class="flex items-center">
                            <span class="w-24 text-sm">카드번호 <span class="text-red-500"> *</span></span>
                            <div class="flex flex-1 gap-2">
                                <input type="text" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="password" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="password" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                                <input type="text" class="w-1/4 bg-white text-black p-2  text-center bor" maxlength="4">
                            </div>
                        </div>
                        <div class="flex items-center">
                            <span class="w-24 text-sm">유효기간 <span class="text-red-500"> *</span></span>
                        <div class="flex flex-1 gap-2">
    						<select id="month" class="w-1/4 bg-white text-black p-2 text-center bor">
     						   <option value="" disabled selected>월</option>
     						   <option th:each="m : ${#numbers.sequence(1, 12)}"
      							        th:value="${#numbers.formatInteger(m, 2)}"
        						        th:text="${#numbers.formatInteger(m, 2)}">
        						</option>
    						</select>
						    <select id="year" class="w-1/4 bg-white text-black p-2 text-center bor">
							        <option value="" disabled selected>연</option>
        							<option th:each="y : ${#numbers.sequence(2024, 2034)}" th:value="${y}" th:text="${y}">
        							</option>
    						</select>
						</div>
						</div>
                    </div>
                    <div class="payMsgDiv">
                    ※ 신용카드 정보는 고객님의 투숙을 개런티하기 위한 용도 외에는 어떤 목적으로도 사용되지 않으며, 체크카드 및 일부 신용 카드의 경우 사용이 제한 될 수 있습니다.<br>
					※ <span style="color:red">온라인 예약 시 직접 결제가 이루어지지 않으며</span>, 최종 결제는 프론트 데스크에서 해주시기 바랍니다. 
                    </div>
                </div> -->

                <div class="bg-zinc-800 p-4 rounded text-sm space-y-2">
                    <label class="flex items-center gap-2">
                        <input type="checkbox" id="checkAll"> 전체 동의
                    </label>
                    <hr class="border-zinc-600">
                    <div class="  items-center text-zinc-400">
                        <label class="flex items-center gap-2"><input type="checkbox" class="agreement-item"> [필수] 만 14세 이상 이용 동의</label>
                        <label class="flex items-center gap-2"><input type="checkbox" class="agreement-item"> [필수] 개인정보 수집 및 이용 동의 </label>
                        <label class="flex items-center gap-2"><input type="checkbox" class="agreement-item"> [필수] 개인정보 제 3자 제공 동의</label>
                    </div>
                </div>
                <div class="pt-6 border-t border-zinc-700">
                	<h2 class="text-xl font-bold ">취소 정책</h2>
                   	<img src="/common/images/res_img/hr.png" class="hr"/>
	                <table border="1" >
                   	<tr >
                   	<td>입실 1일전 15:00까지</td>
                   	<td>취소 비용 없음</td>
					</tr>
                   	<tr >
                   	<td>입실 1일전 15:00부터 입실 당일까지</td>
                   	<td>첫 객실료의 100% 수수료 발생</td>
					</tr>
                   	<tr >
                   	<td>노쇼</td>
                   	<td>첫 객실료의 100% 부과</td>
					</tr>
                   	</table>
                   	<div class="bg-zinc-800 p-4 rounded text-sm space-y-2" style="margin-top: 20px;">
                    <label class="flex items-center gap-2" >
                        <input type="checkbox" id="cancleComfirm"> 취소 규정을 확인하였습니다.
                    </label>
                    <hr class="border-zinc-600">
                </div>
                </div>
                <!-- pg사 정보  -->
                <input type="hidden" value="" id="billing_key" name="billing_key"/>
                <input type="hidden" value="" id="merchant_uid" name="merchant_uid"/>
<!--            <input type="hidden" value="" id="card_number" name="card_number"/>
                <input type="hidden" value="" id="agency" name="agency"/>
                <input type="hidden" value="" id="pg_provider" name="pg_provider"/> -->
 <!--                <input type="hidden" value="" id="pay_price"/>
                <input type="hidden" value="" id="user_id"/> -->
                <input type="hidden" th:value="${param.adultCnt}" name="reserve_adult_count">
                <input type="hidden" th:value="${param.kidCnt}" name="reserve_kid_count">
                <input type="hidden" th:value="${param.checkin}" name="startDate">
                <input type="hidden" th:value="${param.checkout}" name="endDate">
        </div>

        <div class="w-full md:w-80 h-fit text-black p-6 rounded shadow-lg" style="position: fixed; top:220px; right:100px; background-color: #eee8cc; z-index:999;" >
            <h3 class="text-blue-900 font-bold border-b pb-2 mb-4">예약정보</h3>
            <div class=" space-y-3 mb-6">
                <div class="flex justify-between"><span>체크인</span><span th:text="${param.checkin}" class="font-semibold">체크인 날짜</span></div>
                <div class="flex justify-between"><span>체크아웃</span><span  th:text="${param.checkout}" class="font-semibold">체크아웃 날짜</span></div>
                <div class="flex justify-between"><span>인원</span><span  th:text="|성인 ${param.adultCnt}/ 아동 ${param.kidCnt}|" class="font-semibold">성인수</span></div>
                <th:block th:unless="${param.room_type.empty}">
                <div th:each="roomName,i : ${param.room_type}" class="flex justify-between">
                <div>객실<span th:text="${i.count}"></span></div><span class="font-semibold text-right" th:text="${roomName}">룸 타입</span>
                </div>
                </th:block>
                <th:block th:unless="${param.room_num.empty}">
                <input type="hidden" th:each="roomNum,i : ${param.room_num}" th:value="${roomNum}" name="room_type" />
                </th:block>
            </div>
            <div class="border-t pt-4">
                <div class="flex justify-between items-center mb-6">
                    <span class="font-bold">총 금액</span>
                    <div><span class="!text-black text-xl font-bold" th:text="${param.price}">총 금액</span><span class="!text-black text-xl font-bold">원</span></div>
                </div>
                
                <button type="button" class="w-full bg-[#1e293b] text-white py-3 rounded font-bold hover:bg-black transition" onclick="reserve()">예약 하기</button>
            </div>
        </div>
      	 </form>
    </div>

</div>
<footer>
 <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
 <div th:replace="~{fragments/privacy :: privacy}"></div>

<!-- <script type="text/javascript" src="/Hotel28NewCMS_common/js/jquery.modalLayer.js"></script>
<script type="text/javascript" src="/Hotel28NewCMS_common/js/common_dev.js"></script> -->
<script type="text/javascript" src="/common/js/comm/jquery.validate.js"></script>
<script type="text/javascript" src="/common/js/comm/wings.core.js"></script>
<script type="text/javascript" src="/common/js/comm/PAGING_HOMEPAGE.js"></script>
<script type="text/javascript" src="/common/js/comm/kendo.web.min.js"></script>

</body>
</html>
