<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.login.MemberMapper">
	<select id="selectTotalCount" resultType="int" parameterType="map">
        SELECT COUNT(*) 
        FROM MEMBER
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'num'"> AND MEMBER_NUM = #{keyword} </when>
                    <when test="searchType == 'id'"> AND MEMBER_ID LIKE '%' || #{keyword} || '%' </when>
                    <when test="searchType == 'tel'"> AND MEMBER_TEL LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
        </where>
	</select>    
    <select id="selectMemberList" resultType="kr.co.noir.login.MemberDTO">
	 SELECT * FROM (
	        SELECT a.*, ROWNUM rnum FROM (
	            SELECT 
	                MEMBER_NUM, MEMBER_ID, MEMBER_EMAIL, MEMBER_TEL, 
	                MEMBER_INPUTDATE, MEMBER_DEL_FLAG,
	                MEMBER_LAST_NAME || MEMBER_FIRST_NAME as memberName
	            FROM MEMBER
	            <where>
	                <if test="keyword != null and keyword != ''">
	                    <choose>
	                        <when test="searchType == 'num'"> 
	                            AND MEMBER_NUM = #{keyword} 
	                        </when>
	                        
	                        <when test="searchType == 'id'"> 
	                            AND MEMBER_ID LIKE '%' || #{keyword} || '%' 
	                        </when>
	                        
							<when test="searchType == 'tel'">
						        AND (MEMBER_TEL = #{encryptedKeyword} OR MEMBER_TEL = #{keyword})
						    </when>
						    
	                    </choose>
	                </if>
	            </where>
	            ORDER BY MEMBER_NUM DESC
	        ) a
	    ) WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <update id="updateMembersDelete">
        UPDATE MEMBER 
        SET MEMBER_DEL_FLAG = 'Y' 
        WHERE MEMBER_NUM IN 
        <foreach collection="memberNums" item="num" open="(" separator="," close=")">
            #{num}
        </foreach>
    </update>
    <select id="findByProviderAndId" resultType="kr.co.noir.login.MemberDTO">
        SELECT * FROM MEMBER 
        WHERE MEMBER_PROVIDER = #{provider} 
          AND MEMBER_PROVIDER_ID = #{providerId}
          AND MEMBER_DEL_FLAG = 'N'
    </select>
    <insert id="insertSnsMember" parameterType="kr.co.noir.login.MemberDTO">
        INSERT INTO MEMBER (
            MEMBER_NUM, MEMBER_ID, MEMBER_PASS, 
            MEMBER_LAST_NAME, MEMBER_FIRST_NAME, MEMBER_EMAIL, 
            MEMBER_DEL_FLAG, MEMBER_INPUTDATE,
            MEMBER_PROVIDER, MEMBER_PROVIDER_ID
        ) VALUES (
            MEMBER_SEQ.NEXTVAL, #{memberId}, 'SNS_USER', 
            #{memberLastName}, #{memberFirstName}, #{memberEmail}, 
            'N', SYSDATE, 
            #{memberProvider}, #{memberProviderId}
        )
    </insert>    
</mapper>