<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.login.MemberMapper">
    <select id="login" resultType="kr.co.noir.login.MemberDTO">
        SELECT member_id, member_pass
        FROM member
        WHERE member_id = #{memberId}
          AND member_pass = #{memberPass}
    </select>
    <select id="findIdByInfo" resultType="String">
        SELECT member_id
        FROM member
        WHERE TRIM(member_last_name) = #{memberLastName} AND TRIM(member_first_name) = #{memberFirstName}
          AND member_email = #{memberEmail}
    </select>
	<select id="checkUserForPasswordReset" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM member
    WHERE MEMBER_ID = #{memberId}
      AND MEMBER_LAST_NAME = #{memberLastName}
      AND MEMBER_FIRST_NAME = #{memberFirstName}
      AND MEMBER_EMAIL = #{memberEmail}
      AND MEMBER_DEL_FLAG = 'N' -- 탈퇴하지 않은 회원만 대상
	</select>    
    <update id="updatePassword">
        UPDATE member
        SET member_pass = #{newPw}
        WHERE member_Id = #{memberId}
    </update>
    <select id="selectIdCount" parameterType="String" resultType="int">
	    SELECT COUNT(*)
	    FROM member
	    WHERE member_id = #{memberId}
	</select>
	<insert id="insertMember" parameterType="MemberDTO">
	INSERT INTO member (
	    MEMBER_NUM,
	    MEMBER_ID,
	    MEMBER_PASS,
	    MEMBER_LAST_NAME,
	    MEMBER_FIRST_NAME,
	    MEMBER_EMAIL,
	    MEMBER_TEL,
	    MEMBER_BIRTH,
	    MEMBER_DEL_FLAG,
	    MEMBER_INPUTDATE,
	    MEMBER_IP
	) VALUES (
	    member_seq.nextval,  #{memberId},
	    #{memberPass},
	    #{memberLastName},   #{memberFirstName},  #{memberEmail},
	    #{memberTel},
	    #{memberBirth},
	    'N',                 SYSDATE,             #{memberIp}          )
</insert>	
</mapper>