<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.login.MemberMapper">
    <select id="login" resultType="kr.co.noir.login.MemberDTO">
        SELECT member_id, member_pass
        FROM member
        WHERE member_id = #{memberId}
          AND member_pass = #{memberPass}
    </select>
    <select id="findIdByNameAndEmail" resultType="kr.co.noir.login.MemberDTO">
        SELECT member_id
        FROM member
        WHERE TRIM(member_last_name) || TRIM(member_first_name) = #{memberName}
          AND member_email = #{memberEmail}
    </select>
</mapper>