<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noir.mypageReserve">
<!-- 임시  -->
	<!-- <select id="selectTotalCnt" parameterType="reserveSearchDTO" resultType="int">
		
		select count(*)
			
			    FROM member m
			    JOIN reserve r ON m.member_num = r.member_num
			    JOIN room_res rr ON r.reserve_num = rr.reserve_num
			    JOIN room_info ri ON rr.room_type_num = ri.room_type_num
			    WHERE m.member_id = #{memberId}
			      AND r.reserve_type = 'room'
			      <if test="startDate != null">
			          AND rr.room_res_start_date &gt;= #{startDate}
			      </if>
			      <if test="endDate != null">
			          AND rr.room_res_end_date &lt;= #{endDate}
			      </if>
	
	
	</select>
 -->
 
<!-- 구조변경으로 다시해야됨 -->
<!-- <select id="selectTotalCnt" parameterType="reserveSearchDTO" resultType="int">
    SELECT COUNT(*)
    FROM member m
    JOIN reserve r ON m.member_num = r.member_num
    JOIN room_res rr ON r.reserve_num = rr.reserve_num
    <where>
        m.member_id = #{memberId}
        AND r.reserve_type = 'room'
        
        <if test="startDate != null and startDate != ''">
            AND r.RESERVE_START_DATE &gt;= #{startDate}
        </if>
        
        <if test="endDate != null and endDate != ''">
            AND r.RESERVE_END_DATE &lt;= #{endDate}
        </if>
    </where>
</select>
	
	
<select id="hotelRevList" parameterType="reserveSearchDTO" resultType="hotelRevSearchDomain">
    SELECT 
        reserveNum, reserveDate, roomType, checkIn, checkOut, reservePerson, reserveFlag
    FROM (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY r.reserve_num DESC) AS rnum,
            r.reserve_num AS reserveNum,      
            TRUNC(r.reserve_time) AS reserveDate, 
            ri.room_type AS roomType,         
            TRUNC(r.RESERVE_START_DATE) AS checkIn,
            TRUNC(r.RESERVE_END_DATE) AS checkOut,
            (r.reserve_adult_count + r.reserve_kid_count) AS reservePerson, 
            r.reserve_status AS reserveFlag   
        FROM member m
        JOIN reserve r ON m.member_num = r.member_num
        JOIN room_res rr ON r.reserve_num = rr.reserve_num
        JOIN room_info ri ON rr.room_type_num = ri.room_type_num
        <where>
            m.member_id = #{memberId}
            AND r.reserve_type = 'room'
            
            <choose>
                <when test="startDate != null and startDate != ''">
                    AND r.RESERVE_START_DATE &gt;= #{startDate}
                </when>
                <otherwise>
                    AND r.RESERVE_START_DATE &gt;= TRUNC(SYSDATE)
                </otherwise>
            </choose>

            <if test="endDate != null and endDate != ''">
                AND r.RESERVE_END_DATE &lt;= #{endDate}
            </if>
        </where>
    ) 
    WHERE rnum BETWEEN #{startNum} AND #{endNum}
</select>



 <select id="hotelRevDetail" parameterType="reserveDetailDTO" resultType="hotelRevDetailDomain">
   
			   SELECT
			    m.member_email AS email,
			    m.member_tel AS tel,
			    r.reserve_num AS reserveNum,
			    r.end_user_last_name || r.end_user_first_name AS reserveName,
			    r.reserve_adult_count AS adultCount,
			    r.reserve_kid_count AS kidCount,
			    r.reserve_msg AS reserveMsg,
			    r.reserve_time AS reserveDate,
			    r.reserve_status AS reserveFlag,
			    ri.room_type AS roomType,
			    p.pay_price AS roomPriceTotal,
			    TO_CHAR(r.RESERVE_START_DATE, 'yyyy-MM-dd') AS checkIn,
			    TO_CHAR(r.RESERVE_END_DATE, 'yyyy-MM-dd') AS checkOut
			FROM member m, reserve r, room_res rr, room_info ri, pay p
			WHERE m.member_num = r.member_num
			  AND r.reserve_num = rr.reserve_num
			  AND rr.room_type_num = ri.room_type_num
			  AND rr.room_res_num = p.room_res_num
			  AND m.member_id = #{memberId}
			  AND r.reserve_num = #{reserveNum}
			  AND r.reserve_type = #{reserveType}
</select> 

<update id="removeHotelReserve" parameterType="int" >
	update reserve
	set reserve_status='Y'
	where reserve_num=#{reserveNum}

</update>
<update id="removeRevPay" parameterType="int">
	update pay 
    set pay_refund_state = 'Y', 
               pay_refund_time = sysdate 
    where room_res_num = (
             select room_res_num 
             FROM room_res 
             WHERE reserve_num = #{reserveNum}
         )
	

</update>
 -->


<!-- =====================================끝===================================== -->


<!-- 이게 중욧 -->
<!-- 	<select id="hotelRevList" parameterType="reserveSearchDTO" resultType="hotelRevSearchDomain">
    SELECT 
        reserveNum, reserveDate, roomType, checkIn, checkOut, reservePerson, reserveFlag
    FROM (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY r.reserve_num DESC) AS rnum,
            r.reserve_num AS reserveNum,      
            TRUNC(r.reserve_time) AS reserveDate, 
            ri.room_type AS roomType,         
            TRUNC(rr.room_res_start_date) AS checkIn,
            TRUNC(rr.room_res_end_date) AS checkOut,
            (r.reserve_adult_count + r.reserve_kid_count) AS reservePerson, 
            r.reserve_status AS reserveFlag   
        FROM member m
        JOIN reserve r ON m.member_num = r.member_num
        JOIN room_res rr ON r.reserve_num = rr.reserve_num
        JOIN room_info ri ON rr.room_type_num = ri.room_type_num
        WHERE m.member_id = #{memberId}
          AND r.reserve_type = 'room'
          ) 
    WHERE rnum BETWEEN #{startNum} AND #{endNum}
</select> -->



<!-- <select id="hotelRevList" parameterType="reserveSearchDTO" resultType="hotelRevSearchDomain">
    SELECT
        r.reserve_num AS reserveNum,      
        TRUNC(r.reserve_time) AS reserveDate, 
        ri.room_type AS roomType,         
        TRUNC(rr.room_res_start_date) AS checkIn,
        TRUNC(rr.room_res_end_date) AS checkOut,
        (r.reserve_adult_count + r.reserve_kid_count) AS reservePerson, 
        r.reserve_status AS reserveFlag   
        FROM member m
			    JOIN reserve r ON m.member_num = r.member_num
			    JOIN room_res rr ON r.reserve_num = rr.reserve_num
			    JOIN room_info ri ON rr.room_type_num = ri.room_type_num
			    WHERE m.member_id = #{memberId}
			      AND r.reserve_type = 'room'
			      <if test="startDate != null">
			          AND rr.room_res_start_date &gt;= #{startDate}
			      </if>
			      <if test="endDate != null">
			          AND rr.room_res_end_date &lt;= #{endDate}
			      </if>
			    ORDER BY r.reserve_num DESC
</select> -->



<!-- 			        m.member_id AS memberId, -->

  	<!-- <select id="hotelRevList" parameterType="reserveSearchDTO" resultType="hotelRevSearchDomain">
		select
					r.reserve_num AS reserveNum,
			        TRUNC(r.reserve_time) AS reserveDate,
			        ri.room_type AS roomType,
			        TRUNC(rr.room_res_start_date) AS checkIn,
			        TRUNC(rr.room_res_end_date) AS checkOut,
			        (r.reserve_adult_count + r.reserve_kid_count) AS reservePerson,
			        r.reserve_status AS reserveFlag
			    FROM member m
			    JOIN reserve r ON m.member_num = r.member_num
			    JOIN room_res rr ON r.reserve_num = rr.reserve_num
			    JOIN room_info ri ON rr.room_type_num = ri.room_type_num
			    WHERE m.member_id = #{memberId}
			      AND r.reserve_type = 'room'
			      <if test="startDate != null">
			          AND rr.room_res_start_date &gt;= #{startDate}
			      </if>
			      <if test="endDate != null">
			          AND rr.room_res_end_date &lt;= #{endDate}
			      </if>
			    ORDER BY r.reserve_num DESC
 	
 	</select> -->
 	

 
	
	 
	

	
</mapper>




